body {margin: 0;}

nav ul,footer ul {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
}
nav ul li ,footer ul li{display: inline;}
nav ul li+li:before , footer ul li+li:before{
    padding: 8px;
    color: black;
    content: "/\00a0";
}
nav ul li a ,footer ul li a{
    color: #0275d8;
    text-decoration: none;
}
nav ul li a:hover ,footer ul li a:hover{
    color: #01447e;
    text-decoration: underline;
}

/*
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
     position: fixed;
    top: 0;
    width: 100%;
}

nav li {float: left;}

 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {background-color: #111;}

nav li a.active {background-color: #4CAF50;}*/

/*.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    width:100%;
    overflow :auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
*/
@media screen and (max-width: 600px){
   
   nav li {float: none;}
}

/*if dropdown added deal with it in case of small screens  if needed*/